*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    min-height: 100vh;
}
.container{
    width: 90%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}